<svg:clipPath [attr.id]="uuid">
    <rect x="0" y="0" [attr.width]="width" [attr.height]="height"></rect>
</svg:clipPath>
<svg:g [attr.clip-path]="'url(#' + uuid + ')'">
	<rect class="scroller-background" x="0" y="0" [attr.width]="width" [attr.height]="height"></rect>
    <g #scrollable>
		<ng-content></ng-content>
    </g>
</svg:g>
