<h1>German's Journey</h1>

<hp-hcp-bariatric-chart type="line"
    [goals]="chartData.goals"
    [metrics]="chartData.metrics"
    [milestones]="chartData.milestones"
    [today]="chartData.today"
    unit="lbs">
</hp-hcp-bariatric-chart>
<hp-hcp-bariatric-chart type="bars"
    [goals]="chartData.goals"
    [metrics]="chartData.metrics"
    [milestones]="chartData.milestones"
    [today]="chartData.today"
    unit="oz">
</hp-hcp-bariatric-chart>
