<svg [attr.width]="width" [attr.height]="height">
    <g hp-hcp-chart-y-axis
        [attr.transform]="'translate(' + leftMargin + ', ' + topMargin + ')'"
		[yScale]="yScale">
	</g>
    <g hp-hcp-bariatric-chart-scroller
        [width]="graphWidth"
        [height]="height"
        [attr.transform]="'translate(' + leftMargin + ', 0)'">

        <g hp-hcp-chart-x-axis
            [height]="bottomY"
            [xScale]="xScale">
        </g>

        <g hp-hcp-bariatric-goals
            [attr.transform]="'translate(0,' + topMargin + ')'"
            [goals]="goals"
            [unit]="unit"
            [xScale]="xScale"
            [yScale]="yScale">
        </g>

        <g hp-hcp-bariatric-graphics-line *ngIf="type == 'line'"
            [attr.transform]="'translate(0,' + topMargin + ')'"
            [metrics]="metrics"
            [today]="today"
            [unit]="unit"
            [xScale]="xScale"
            [yScale]="yScale">
        </g>
        <g hp-hcp-bariatric-graphics-bars *ngIf="type == 'bars'"
            [attr.transform]="'translate(0,' + topMargin + ')'"
            [bottomY]="bottomY - topMargin"
            [metrics]="metrics"
            [unit]="unit"
            [xScale]="xScale"
            [yScale]="yScale">
        </g>

        <g hp-hcp-bariatric-chart-milestones
            [attr.transform]="'translate(0,' + bottomY + ')'"
            [milestones]="milestones"
            [xScale]="xScale">
        </g>
    </g>
</svg>
