$line-color: #646464;
$today-line-color: #cccccc;

:host {
  &:hover {
    cursor: pointer;
    .line {
      stroke-width: 4px;
    }
  }
}

.metric {
  fill: $line-color;
}

.line {
  fill: none;
  stroke: $line-color;
  stroke-width: 3px;
}

.today-line {
  stroke: $today-line-color;
  stroke-dasharray: 12, 9;
}

.today-metric {
  fill: $today-line-color;
}
