<ng-container *ngIf="todayEvent">
    <svg:path class="line today-line" [attr.d]="todayLine"></svg:path>
    <svg:circle
        class="today-metric"
        [attr.cx]="todayEvent.x"
        [attr.cy]="todayEvent.y"
        r="5"
        [tooltip]="tooltip"
        placement="top"
        container="body">
        <ng-template #tooltip>
            <ng-container *ngTemplateOutlet="tooltipTpl; context: todayEvent"></ng-container>
        </ng-template>
    </svg:circle>
</ng-container>

<svg:path class="line" [attr.d]="line"></svg:path>
<svg:circle *ngFor="let event of history"
    class="metric"
    [attr.cx]="event.x"
    [attr.cy]="event.y"
    r="5"
    [tooltip]="tooltip"
    placement="top"
    container="body">
    <ng-template #tooltip>
        <ng-container *ngTemplateOutlet="tooltipTpl; context: event"></ng-container>
    </ng-template>
</svg:circle>

<ng-template #tooltipTpl let-metric="metric" let-title="title">
    <div style="text-align: center;">
        <div style="font-size: 12px;">{{title}}</div>
        <div><span style="font-size: 18px;">{{metric.value}} {{unit}}</span></div>
        <footer style="font-size: 10px;">{{metric.date | date}}</footer>
    </div>
</ng-template>
