$label-color: #666666;

:host {
  font: 12px sans-serif;
}

.x-label {
  fill: $label-color;
  text-anchor: middle
}

.x-tick {
  fill: none;
  stroke: $label-color;
  stroke-width: 0.5;
  stroke-opacity: 0.25;
  shape-rendering: crispEdges;
}
