<svg:line *ngFor="let x of ticks"
    class="x-tick"
    [attr.x1]="x"
    [attr.x2]="x"
    y1="0"
    [attr.y2]="height">
</svg:line>
<svg:text *ngFor="let label of labels"
    class="x-label"
    [attr.x]="label.x"
    y="14"
    dy="0em">
    {{label.text}}
</svg:text>
