$line-color: #646464;

.goal:hover {
    cursor: pointer;

    .goal-bound {
        visibility: visible;
    }

    .goal-line {
        stroke-width: 2px;
    }
}

.goal-background {
    fill: transparent;
    height: 14px;
    transform: translateY(-7px);
}

.goal-bound {
    fill: $line-color;
    visibility: hidden;
}

.goal-line {
    stroke: $line-color;
    stroke-width: 1px;
    stroke-dasharray: 3, 1;
}
