<svg:g class="goal"
  *ngFor="let goal of goalLines"
  (mousemove)="handleRollOver($event)">
  <rect class="goal-background"
    [attr.width]="goal.endX - goal.startX"
    [attr.x]="goal.startX"
    [attr.y]="goal.y">
  </rect>
  <path class="goal-line" [attr.d]="goal.line"></path>
  <circle
    class="goal-bound"
    [attr.cx]="goal.startX"
    [attr.cy]="goal.y"
    r="7">
  </circle>
  <circle
    class="goal-bound"
    [attr.cx]="goal.endX"
    [attr.cy]="goal.y"
    r="7">
  </circle>
  <circle
    class="mouse-follower"
    [attr.cx]="goal.endX"
    [attr.cy]="goal.y"
    r="7">
  </circle>
</svg:g>
