$bar-color: #cccccc;
$bar-red-color: #f21c33;

.bar {
  cursor: pointer;
}

.bar-background {
  fill: transparent;
  transform: translateX(-3px);
  width: 6px;
}

.bar-body {
  fill: $bar-color;
  transform: translateX(-1px);
  width: 2px;

  &.red {
    fill: $bar-red-color;
  }
}
