<svg:g *ngFor="let event of history"
    class="bar"
    [tooltip]="tooltip"
    placement="top"
    container="body">
    <rect class="bar-background"
        [attr.height]="bottomY - event.y"
        [attr.x]="event.x"
        [attr.y]="event.y">
    </rect>
    <rect class="bar-body" [class.red]="!event.metric.adheresToGoal"
        [attr.height]="bottomY - event.y"
        [attr.x]="event.x"
        [attr.y]="event.y">
    </rect>
    <ng-template #tooltip>
        <ng-container *ngTemplateOutlet="tooltipTpl; context: event.metric"></ng-container>
    </ng-template>
</svg:g>

<ng-template #tooltipTpl let-date="date" let-value="value">
    <div style="text-align: center;">
        <div><span style="font-size: 18px;">{{value}} {{unit}}</span></div>
        <footer style="font-size: 10px;">{{date | date}}</footer>
    </div>
</ng-template>