$milestone-color: #613484;
$out-of-range-color: #CCCCCC;
$arrow-color: #646464;
$label-color: #646464;
$date-color: #b8b8b8;

.out-of-range {
    stroke: $out-of-range-color;
    stroke-width: 4;
}

.timeline {
    stroke: $milestone-color;
    stroke-width: 4;
}

.milestone-dot {
    fill: $milestone-color;
}

.milestone-arrow {
    fill: $arrow-color;
}

.milestone-label {
    fill: $label-color;
    font: bold 10px sans-serif;
}

.milestone-date {
    fill: $date-color;
    font: 10px sans-serif;
}

.align-center {
    text-anchor: middle;
}

.align-left {
    text-anchor: start;
}

.align-right {
    text-anchor: end;
}
