<svg:line class="out-of-range" [attr.x1]="0" y1="5" [attr.x2]="dots[0].x" y2="5"></svg:line>
<svg:line class="timeline" [attr.x1]="dots[0].x" y1="5" [attr.x2]="dots[lastDotIndex].x" y2="5"></svg:line>
<svg:line class="out-of-range" [attr.x1]="dots[lastDotIndex].x" y1="5" [attr.x2]="lastX" y2="5"></svg:line>

<svg:g *ngFor="let dot of dots" [attr.transform]="'translate(' + dot.x + ', 0)'">
    <svg:circle class="milestone-dot" cx="0" cy="5" r="9"></svg:circle>
    <svg:polygon class="milestone-arrow" points="0,0 5,5 -5,5" transform="translate(0, 15)"></svg:polygon>
    <svg:text class="milestone-label" [ngClass]="dot.alignment" [attr.transform]="'translate(' + dot.offset + ', 30)'">{{dot.milestone.label}}</svg:text>
    <svg:text class="milestone-date" [ngClass]="dot.alignment" [attr.transform]="'translate(' + dot.offset + ', 40)'">{{dot.milestone.date | date}}</svg:text>
</svg:g>
